<?xml version="1.0"?>

<robot name="aion_r1" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="robot_base">

    <link name="robot_meshes">
      <visual name="robot_link">
        <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000"/>
        <geometry>
          <mesh filename="file://$(find r1_description)/meshes/dae/chassis_link.dae" scale="1.000000 1.000000 1.000000"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>
