<?xml version="1.0"?>

<robot name="aion_r1" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="utils">

    <material name="Material_black">
      <color rgba="0.00000 0.00000 0.00000 1.00000"/>
    </material>
    <material name="Material_grey">
      <color rgba="0.24314 0.24314 0.24314 1.00000"/>
    </material>
    <material name="Material_white">
      <color rgba="1.00000 1.00000 1.00000 1.00000"/>
    </material>

  </xacro:macro>
</robot>