<?xml version="1.0"?>

<robot name="aion_r1" xmlns:xacro="http://wiki.ros.org/xacro">

  <!--  includes  -->
  <xacro:include filename="$(find r1_description)/urdf/base/robot_base.urdf.xacro"/>
  
  <!--  argumentos  -->
  <xacro:arg name="robot_ns" default=""/>
  <xacro:arg name="prefix" default=""/>


  <!--  Base  -->
  <xacro:robot_base/>

</robot>
